/* LOGIN CSS */
:root {
  --blanco-celeste: rgb(240, 244, 252);
  --blanco: white;
  --plomo: #aaa;
  --buton: #2a3247;
  --enlace-color: #6363f6;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: "Lato", sans-serif;
}

/* Inicio Globales*/
a {
  text-decoration: none;
  color: var(--enlace-color);
}

a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}
/* Fin Globales*/

.back-login {
  background-color: var(--blanco-celeste);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panel1-login {
  display: none;
}

.panel2-login {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.p-login {
  font-size: 15px;
  text-align: center;
}

.contenedor-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(400px, 85%);
  height: 460px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--blanco);
}

@media (height > 480px) {
  .panel2-login {
    height: 100vh;
  }
}

.logo-utp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-utp-img {
  width: min(230px, 95%);
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.form-input {
  width: min(310px, 100%);
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  border: thin solid var(--plomo);
}

.boton-login,
.boton-registrar {
  background-color: var(--buton);
  color: var(--blanco);
  width: min(200px, 100%);
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.boton-login:hover,
.boton-registrar:hover {
  cursor: pointer;
}

.btn-registro {
  color: var(--blanco);
}

.btn-registro:hover {
  text-decoration: none;
}

/*INICIO REGISTRO CSS */
.back-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--blanco-celeste);
}

.contenido-principal {
  width: min(500px, 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blanco);
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
}

.form-text-registro {
  margin-bottom: 0;
}

.logo-registro {
  padding-top: 16px;
}

.form-text-login {
  margin-top: 0;
}
/*FIN REGISTRO CSS */

/* RESPONSIVE */
@media (min-width: 890px) {
  .back-login {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .panel1-login {
    width: 45%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
  }

  .panel2-login {
    width: 55%;
  }

  .contenedor-login .p-login {
    font-size: 17px;
  }

  .imagen-portada {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 450px) {
  .p-login {
    font-size: 15px;
  }
}
