/* LOGIN CSS */
:root {
  --blanco-celeste: rgb(240, 244, 252);
  --blanco: white;
  --plomo: #aaa;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: "Lato", sans-serif;
}

.back-login {
  background-color: var(--blanco-celeste);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panel1-login {
  display: none;
}

.panel2-login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width > 890px) {
  .panel1-login {
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contenedor-login {
  width: 70%;
  height: 90%;
  border-radius: 15px;
  background-color: var(--blanco);
}

.logo-utp {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.input-login {
  display: flex;
  justify-content: center;
}

.p-login {
  font-size: 20px;
}

.user-login {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: thin solid var(--plomo);
}

/*REGISTRO CSS */
.back-form {
  background-color: var(--blanco-celeste);
}
.contenedor-principal {
  width: 500px;
  height: 700px;
  background-color: var(--blanco);
  border-radius: 8px;
  border: thin solid var(--plomo);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-registro {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contenedor-inputs {
  height: 70%;
}

.p-registro {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.input-registro {
  display: flex;
  width: 82%;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px auto;
  border: thin solid var(--plomo);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 15px;
  width: 100%;
  padding: 15px;
  border: none;
}

.btn-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-registro input {
  padding: 5px;
  font-size: 15px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid var(--plomo);
  transition: 0.5s;
}

.btn-registro input:hover {
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  width: 120px;
  height: 35px;
}
